<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <style>{{{css}}}</style>
  <style media="print">{{{print}}}</style>
</head>
<body>
  <article class="paper">
    {{#resume.basics}}
      <header>
        <div class="header-content">
          {{#if picture}}
            <div class="header-pic">
              <img src="{{picture}}" class="pic" />
            </div>
          {{/if}}
          <div class="header-text">
            <h1>
              {{name}}
            </h1>
            {{#if label}}
              <p class="subtitle">{{label}}</p>
            {{/if}}
            {{#if summary}}
              <div class="summary">{{markdown summary}}</div>
            {{/if}}
          </div>
        </div>
      </header>
        <!-- CONTACT -->
        <section id="contact" class="content">
          <h2>Contact</h2>
          <div class="content-text">
            {{#if website}}
              <h3 class="title">Website</h3>
              <p class="value">{{website}}</p>
            {{/if}}
            {{#if email}}
              <h3 class="title">Email</h3>
              <p class="value"><a href="mailto:{{email}}">{{email}}</a></p>
            {{/if}}
            {{#if phone}}
              <h3 class="title">Phone</h3>
              <p class="value">{{phone}}</p>
            {{/if}}
            {{#location}}
              {{#ifCond address '||' city}}
                <h3 class="title">Address</h3>
                <p class="value">{{address}}<br>{{city}}, {{postalCode}}<br>{{region}}</p>
              {{/ifCond}}
            {{/location}}
            {{#if profiles.length}}
              <h3 class="title">Socials</h3>
              <ul class="value">
                {{#each profiles}}
                  {{#if network}}
                    <li>
                      <a href="{{url}}" target="_blank">
                        {{network}}
                      </a>
                    </li>
                  {{/if}}
                {{/each}}
              </ul>
            {{/if}}
          </div>
        </section>
    {{/resume.basics}}

        {{#if resume.skills.length}}
        <section id="skills" class="content">
          <h2>
            Professional Skills Summary
          </h2>
          <div id="skills-listing" class="content-text">
            {{#foreach resume.skills}}
              <p>
                <span class="name">
                  {{#if name}}
                    <strong>
                      {{name}}{{#if level}}{{else}}:{{/if}}
                    </strong>
                  {{/if}}
                </span>
                {{#if level}}
                  <span>({{level}}):</span>
                {{/if}}
                {{#if keywords.length}}
                  {{#commalist keywords}}{{.}}{{/commalist}}
                {{/if}}
              </p>
            {{/foreach}}
          </div>
        </section>
        {{/if}}


        
        {{#if resume.work.length}}
          <section id="work-history">
            <h2>Work Experience</h2>
            {{#foreach resume.work}}
              <section class="position">
                <h3>
                  {{position}}, {{name}}
                </h3>
                {{#if startDate}}
                  {{#if endDate}}
                    <p class="duration">{{formatDate startDate}} to {{formatDate endDate}}</p>
                  {{else}}
                    <p class="duration">{{formatDate startDate}} to Present</p>
                  {{/if}}
                {{/if}}
                  <div class="content-text work-listing">
                    {{#if summary}}
                      <div class="summary">{{markdown summary}}</div>
                    {{/if}}
                    {{#if highlights.length}}
                      <ul>
                      {{#each highlights}}
                        <li class="highlight">{{inlinemarkdown .}}</li>
                      {{/each}}
                      </ul>
                    {{/if}}
                  </div>
              </section>
          {{/foreach}}
          </section>
        {{/if}}

        {{#if resume.education.length}}
          <section id="education">
            <h2>Education</h2>
            <ul>
              {{#foreach resume.education}}
              <li>
                  {{#if area}}
                  <p class="degree">
                    {{#if studyType}}
                    {{studyType}}:
                    {{/if}}
                    <span class="area">{{area}} {{#if gpa}}({{gpa}}){{/if}}</span>
                  </p>
                  {{/if}}
                  {{#if institution}}
                  <p class="institution">{{institution}}</p>
                  {{/if}}
                  {{#if startDate}}
                  {{#if endDate}}
                  <p class="duration">{{formatDate startDate}} to {{formatDate endDate}}</p>
                  {{/if}}
                  {{else}}
                  {{#if endDate}}
                  <p class="duration">{{formatDate endDate}}</p>
                  {{/if}}
                  {{/if}}
              </li>
              {{/foreach}}
            </ul>
          </section>
        {{/if}}

        {{#if resume.volunteer.length}}
          <section id="volunteering">
          <h2>Volunteering</h2>
          {{#foreach resume.volunteer}}
            <section class="content">
              <div class="row">
                <div class="content-cat big-text">
                  {{#if startDate}}
                    {{#if endDate}}
                      <p>{{formatDate startDate}} to {{formatDate endDate}}</p>
                    {{/if}}
                  {{/if}}
                </div>
                <div class="content-text work-listing">
                  {{#if organization}}
                    {{#if $first}}
                      <p>
                    {{else}}
                       <p>
                    {{/if}}
                      <strong>{{organization}}</strong>
                    </p>
                  {{/if}}
                  {{#if summary}}
                    <p>
                      {{inlinemarkdown summary}}
                    </p>
                  {{/if}}
                  {{#if highlights.length}}
                    {{#each highlights}}
                      <p class="highlight">{{.}}</p>
                    {{/each}}
                  {{/if}}
                </div>
              </div>
            </section>
          {{/foreach}}
          </section>
        {{/if}}

        {{#if resume.languages.length}}
          <section class="content">
            <div class="row">
              <div class="content-cat">
                Languages
              </div>
              <div class="content-text">
                {{#each resume.languages}}
                  <ul>
                    {{#if language}}
                      <li>{{language}}</li>
                    {{/if}}
                    {{#if fluency}}
                      <li>{{fluency}}</li>
                    {{/if}}
                  </ul>
                {{/each}}
              </div>
            </div>
          </section>
        {{/if}}


        {{#if resume.awards.length}}
          {{#foreach resume.awards}}
            <section class="content">
              <div class="row">
                <div class="content-cat big-text">
                  {{#if $first}}
                    Awards
                  {{/if}}
                  {{#if title}}
                    <p>{{title}}</p>
                  {{/if}}
                  {{#if date}}
                    <p>{{date}}</p>
                  {{/if}}
                </div>
                <div class="content-text">
                  {{#if awarder}}
                    <strong><p class="heading">{{awarder}}</p></strong>
                  {{/if}}
                  {{#if summary}}
                    <p>{{inlinemarkdown summary}}</p>
                  {{/if}}
                </div>
              </div>
            </section>
          {{/foreach}}
        {{/if}}


        {{#resume.basics}}
          <!-- PROFILES -->
        {{/resume.basics}}

        {{#if resume.interests.length}}
          <section id="interests" class="content">
            <h2 class="content-cat">
              Personal
            </h2>
            <div class="row">
              <div class="content-text skills-listing">
                {{#foreach resume.interests}}
                  <p>
                    <span class="name">
                    </span>
                    {{#if keywords.length}}
                      {{#commalist keywords}}{{.}}{{/commalist}}
                    {{/if}}
                  </p>
                {{/foreach}}
              </div>
            </div>
          </section>
        {{/if}}

      </div>
  </article>
</body>
</html>
